body{
    background: url("./images/deusexbg.jpg");
    background-size: 150%;
    color: goldenrod;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    height: 100%;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}


h2, .card-action, .footer-copyright{
    text-align: center;
}
.card{
    background: rgba(0,0,0,.6);

}
.row .col.s12 {
    margin: inherit;
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
    text-align: center;
}

.profilePic{
    width: 40%;
}
.btn-small{
    background-color: black;
    letter-spacing: -0.5px;
    border: solid 1px rgba(220,220,220,.6);
    margin-bottom: 5px;
}
.btn-small:hover {
    background-color: goldenrod;
    color: black;
}

#intro{
    background-image: url("");
    background-size: contain;
    color:rgba(224, 221, 216,.9);
    height: 100%;
}

#work.section{
    background-image: url("./css/images/black-hex.jpg");
}


@media only screen and (min-width: 993px){
    .row .col.offset-l1 {
         margin-left: 8.3333333333%; 
    }
}

    @media only screen and (min-width: 993px){
        .row .col.l8 {
            /* width: 66.6666666667%; */
            margin-left: auto;
            /* left: auto; */
            /* right: auto; */
        }
    }
        @media only screen and (min-width: 601px){
            .row .col.m12 {
                width: 100%;
                margin-left: auto;
                left: auto;
                right: auto;
            }
        }

.nav-wrapper, .nav{
    background-color: black;
    margin: auto;

}

.aboutMe, a{
    border: goldenrod solid 2px;
    margin-top: 1em;
    background-color: rgba(0,0,0,.6);
}


.btn-small{
    background-color: black;
    letter-spacing: -0.5px;
}
.btn-small:hover {
    background-color: goldenrod;
    color: black;
}

.waves-effect.waves-brown .waves-ripple {
   
    background-color: rgba(0, 0, 0, .6);
}


